<div class="beer-item">
    <div class="beer-name"><a href="/beers/<%=beer.id %>"><%- beer.name %></a></div>
    <img class="beer-image" src="<%= beer.image_url %> " />
    <div><%- beer.description %> </div>
    <div><%- beer.tagline %> </div>
  </div>